<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Quiz sobre el Dengue</ion-title>
  </ion-navbar>

</ion-header>


  <ion-content padding>
    <div *ngIf="mostrarP1">
      <ion-card>
        <ion-card-header>
          Pregunta 1
        </ion-card-header>

        <ion-card-content>
          <p>
            Cuanto tiempo puede durar el huevo del mosquito Aedes Aegypti?
          </p>

        </ion-card-content>

      </ion-card>
      <button ion-button full [disabled]="isenabled" (click)=clicError()>1 mes</button>
      <button ion-button full [disabled]="isenabled" (click)=clicError()>3 meses</button>
      <button ion-button full  (click)=next()>1 año</button>
      <button ion-button full [disabled]="isenabled" (click)=clicError()>10 años</button>
    </div>
    <div *ngIf="mostrarP2">

        <ion-card>
          <ion-card-header>
            Pregunta 2
          </ion-card-header>

          <ion-card-content>
            <p>
              El mosquito Aedes Aegypti solo en vive en agua...
            </p>

          </ion-card-content>

        </ion-card>
        <button ion-button full block (click)=next2()>Limpia</button>
        <button ion-button full >Sucia</button>
        <button ion-button full >Estancada</button>
        <button ion-button full >Agua con cloro</button>

    </div>
    <div *ngIf="mostrarP3">

      <ion-card>
        <ion-card-header>
          Pregunta 3
        </ion-card-header>

        <ion-card-content>
          <p>
            El mosquito Aedes Aegypti vuela distancias...
          </p>

        </ion-card-content>

      </ion-card>
      <button ion-button full >1000 km</button>
      <button ion-button full >largas</button>
      <button ion-button full >no vuela</button>
      <button ion-button full block (click)=finalquiz()>cortas</button>

    </div>
    <div *ngIf="mostrarMensajeOk">
      <ion-card>
        <img src="/img/buenTrabajo.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Has completado el Quiz!
          </ion-card-title>
          <p>
            Recuerda que la lucha contra el dengue
            es de todos. =D
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>



